* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: rgb(0, 0, 69);
    font-family: 'Ubuntu', sans-serif;
}

#mk_container{
    padding-left: 10vw;
    padding-right: 10vw;
}

nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 10px;
    font-size: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: -100;
    background: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(0px);
}

nav ul{
    list-style: none;
}

nav ul{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

nav ul li{
    margin: 10px;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
  }
  

/* visited link */
a:visited {
    color: rgb(215, 130, 238);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }

header {
    clear: both;
    margin-top: 110px;
    background: url("d.jpg");
    width: auto;
    height: 94vh;
    background-repeat: no-repeat;
    font-size: large;
    object-fit: fill;
    font-weight: bolder;
    margin-bottom: 10vh;
    border-radius: 20px;
    padding: 20px;
}

h1 {
    color: navy;
    text-align: center;
    margin-bottom: 5vh;
}

p {
    color: blue;
}

.ppp{
    color: white;
    padding: 10px;
    font-size: larger;
}


#circle {   
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

.pa {
    margin-top: 2vh;
    width: 40vw;
    font-size: 1.5em;
}

#fruit,#Vegetables,#Fastfood{
    height: 20vh;
    width: 15vw;
    border-radius: 20px;
}

.links{
    border: 2px solid white;
    display: inline-block;
    border-radius: 10px;
    margin: 2vw;
}

.list{
    margin-top: 2vh;
}

footer {
    margin-top: 10vh;
    background-color: rgb(100, 96, 131);
}

@media screen and (min-width:400px) and (max-width: 600px) {

    * {
        margin: 0px;
        padding: 0px;
        color: white;
    }

    #mk_container{
        padding-left: 0vw;
        padding-right: 0vw;
    }

    nav{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        padding: 5px;
        font-size: 16px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: -100;
        background: rgba(0, 0, 0, 0.815);
        backdrop-filter: blur(0px);
    }

    nav img{
        width: 25px;
        height: 25px;
    }
    
    nav ul{
        list-style: none;
    }
    
    nav ul{
        display:flex;
        justify-content: center;
        flex-direction: row;
    }
    
    nav ul li{
        margin: 5px;
        text-decoration: none;
    }
    
    a:link {
        color: white;
        text-decoration: none;
      }
      
    
    /* visited link */
    a:visited {
        color: rgb(215, 130, 238);
        text-decoration: none;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }

    header {
        clear: both;
        margin-top: 110px;
        background: url("d.jpg");
        width: auto;
        height: 80vh;
        background-repeat: no-repeat;
        object-fit: fill;
        font-weight: bolder;
        margin-bottom: 1vh;
    }

    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    p {
        color: blue;
        text-align: left;
    }

    .pa {
        margin-top: 2vh;
        width: auto;
        font-size: 1.2em;
        text-align: center;
    }


    h1 {
        color: navy;
        text-align: center;
        margin-bottom: 5vh;
    }

    #circle {
        margin: auto;
        height: 100px;
        width: 100px;
        border-radius: 500px;
    }

    .ppp{
        color: white;
        font-size: larger;
        padding: 10px;
    }

    footer {
        margin-top: auto;
        background-color: rgb(100, 96, 131);
    }

    #fruit,#Vegetables,#Fastfood{
        height: 15vh;
        width: 30vw;
        border-radius: 20px;
        margin: 1vw;
    }

    .list{
        margin-top: 2vh;
    }
}

@media screen and (max-width:399px){
    * {
        margin: 0px;
        padding: 0px;
        color: white;
    }

    #mk_container{
        padding-left: 0vw;
        padding-right: 0vw;
    }

    nav{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        padding: 5px;
        font-size: 16px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: -100;
        background: rgba(0, 0, 0, 0.815);
        backdrop-filter: blur(0px);
    }
    
    nav ul{
        list-style: none;
    }

    nav img{
        width: 25px;
        height: 25px;
    }
    
    nav ul{
        display:flex;
        justify-content: center;
        flex-direction: row;
    }
    
    nav ul li{
        margin: 5px;
        text-decoration: none;
    }
    
    a:link {
        color: white;
        text-decoration: none;
      }
      
    
    /* visited link */
    a:visited {
        color: rgb(215, 130, 238);
        text-decoration: none;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }

    header {
        clear: both;
        margin-top: 100px;
        background: url("d.jpg");
        width: auto;
        height: 70vh;
        background-repeat: no-repeat;
        font-size: large;
        border: 2px solid black;
        object-fit: fill;
        font-weight: bolder;
        margin-bottom: 10vh;
    }
    
    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    p {
        color: blue;
        text-align: left;
        font-size: large;
    }
    
    .pa {
        margin-top: 2vh;
        width: 80vw;
        font-size: 1.5em;
    }

    .ppp{
        color: white;
        font-size: larger;
        padding: 10px;
    }


    h1 {
        color: navy;
        text-align: center;
        margin-bottom: 5vh;
    }

    #circle {
        margin: auto;
        height: 90px;
        width: 90px;
        border-radius: 500px;
    }

    footer {
        margin-top: 10vh;
        background-color: rgb(100, 96, 131);
    }

    #fruit,#Vegetables,#Fastfood{
        height: 20vh;
        width: 30vw;
        border-radius: 20px;
        margin: 2vw;
    }

    .list{
        margin-top: 2vh;
    }
}

@media screen and (min-width:601px) and (max-width: 1000px) {

    * {
        margin: 0px;
        padding: 0px;
        color: white;
    }
    
    #mk_container{
        padding-left: 1vw;
        padding-right: 1vw;
    }

    nav{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        padding: 10px;
        font-size: 24px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: -100;
        background: rgba(0, 0, 0, 0.815);
        backdrop-filter: blur(0px);
    }
    
    nav ul{
        list-style: none;
    }
    
    nav ul{
        display:flex;
        justify-content: center;
        flex-direction: row;
    }
    
    nav ul li{
        margin: 5px;
        text-decoration: none;
    }
    
    a:link {
        color: white;
        text-decoration: none;
      }

    nav img{
        height: 40px;
        width: 40px;
    }
    
    /* visited link */
    a:visited {
        color: rgb(215, 130, 238);
        text-decoration: none;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }

    header {
        clear: both;
        margin-top: 100px;
        background: url("d.jpg");
        width: auto;
        height: 70vh;
        background-repeat: no-repeat;
        object-fit: fill;
        font-weight: bolder;
        margin-bottom: 8vh;
    }

    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    p {
        color: blue;
        text-align: center;
    }

    .ppp{
        color: white;
        font-size: larger;
        padding: 10px;
    }

    .pa {
        margin-top: 2vh;
        font-size: 1.5em;
        width: auto;
    }


    h1 {
        color: navy;
        text-align: center;
        margin-bottom: 5vh;
    }

    #circle {
        margin: auto;
        height: 100px;
        width: 100px;
        border-radius: 500px;
    }

    footer {
        margin-top: 10vh;
        background-color: rgb(100, 96, 131);
    }

    #fruit,#Vegetables,#Fastfood{
        height: 20vh;
        width: 30vw;
        border-radius: 20px;
        margin: 2vw;
    }

    .list{
        margin-top: 2vh;
    }
}
